/* customize scroll bar */
/* width */
* {
    scrollbar-color: #888 transparent; /* thumb and track color */
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  body {
      background-color: skyblue;
  }
  .showall {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  /* phone case */
  .phonecase {
      position: relative;
  }
  .caseimg {
      width: 420px;
      display: block;
      /* z-index: 5; */
      position: relative;
  }
  /* display area */
  .show-area {
      --pwidth: 367px;
      position: absolute;
      left: 22.8px;
      top: 55.4px;
      width: var(--pwidth);
      height: calc(2 * var(--pwidth));
      z-index: 1;
      background-color: #fcfcfc;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      overflow: hidden;
      border-radius: 18px;
  }
  /* status bar */
  .status-outer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 25px;
      background-color: #e6e3e01f;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      color: white;
      text-shadow: 0 0 4px #3a3737ad;
      font-family: system-ui;
  }
  .status-outer svg {
      height: 20px;
      height: 20px;
      -webkit-filter: drop-shadow(0px 0px 1px #3a3737ad);
              filter: drop-shadow(0px 0px 1px #3a3737ad);
      display: inline-block;
  }
  /* top banner */
  .top-banner-outer {
      padding-top: 25px;
      width: 100%;
      background-color: slateblue;
      -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
              box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }
  #show02 .top-banner-outer, #case1x .top-banner-outer, #case1x .bottom-input-outer {
      background-color: #5a88cd;
  }
  #case1x .chatting-right > li {
      background-color: #5a88cd;
  }
  #case1x .chatting-right > li:last-child::after {
      border-bottom-color: #5a88cd;
  }
  #case1x .chatting-left > li {
      background-color: #b6daff;
  }
  #case1x .chatting-left > li:last-child::after {
      border-bottom-color: #b6daff;
  }
  .top-banner-inner {
      position: relative;
      padding: 5px 2px;
      color: white;
      font-size: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  }
  .top-banner-inner svg {
      width: 30px;
      height: 30px;
      display: block;
      cursor: pointer;
  }
  .banner-title {
      position: absolute;
      left: 50px;
      font-family: sans-serif;
      cursor: default;
  }
  
  /* body content */
  .v-body-content {
      position: relative;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: calc(var(--pwidth) * 2 - 65px);
      z-index: -1;
  }
  
  /* chatting */
  .chatting-outer li {
      text-decoration: none;
      padding: 0;
  }
  .chatting-outer {
      position: relative;
      height: calc(100% - 44px);
      overflow: auto;
  }
  .chatting-outer .message-side {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 5px 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
  }
  .message-side[name='same'] {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
  }
  .message-side[name='diff'] {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
  }
  .message-side[name='sys'] {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }
  .message-banner-time span {
      display: block;
      font-family: sans-serif;
      font-size: 14px;
      color: #969696db;
      text-shadow: 0 0 2px #00000052;
  }
  .chatting-portrait {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      position: sticky;
      bottom: 3px;
      -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
              box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }
  .chatting-portrait img {
      max-width: 120%;
      max-height: 120%;
  }
  .chatting-detail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
  }
  .chatting-right {
      margin-right: 5px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
  }
  .chatting-left {
      margin-left: 5px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
  }
  .chatting-detail > li {
      text-decoration: none;
      display: block;
      position: relative;
      padding: 3px 5px 10px 5px;
      margin: 1px;
      border-radius: 5px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      min-width: 45px;
      max-width: 255px;
      word-break: break-word;
      text-align: justify;
  }
  .chatting-right > li {
      background-color: slateblue;
      color: white;
      -webkit-filter: drop-shadow(1px 1px 1px #00000055);
              filter: drop-shadow(1px 1px 1px #00000055);
  }
  .chatting-left > li {
      background-color: #c0b6ff;
      color: #414747;
      -webkit-filter: drop-shadow(-1px -1px 1px #00000055);
              filter: drop-shadow(-1px -1px 1px #00000055);
  }
  .chatting-detail > li:last-child::after {
      content: '';
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: absolute;
      z-index: -1;
      bottom: 0;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      border-left: solid 15px transparent;
      border-right: solid 15px transparent;
  
  }
  .chatting-right > li:last-child::after {
      border-bottom: solid 15px slateblue;
      right: -8px;
  }
  .chatting-left > li:last-child::after {
      border-bottom: solid 15px #c0b6ff;
      left: -8px;
  }
  .chatting-detail .chatting-detail-content {
      display: block;
      font-family: system-ui;
      font-size: 16px;
  }
  .chatting-detail .chatting-detail-content img {
      max-width: 100%;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
              box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }
  .chatting-detail .chatting-detail-time {
      position: absolute;
      right: 2px;
      bottom: -1px;
      color: white;
      font-size: 10px;
      font-family: monospace;
      text-shadow: 0 0 2px #00000085;
  }
  /* bottom input */
  .bottom-input-outer {
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px 5px 15px 5px;
      background-color: #8a84de;
      -webkit-box-shadow: 0 -1px 2px 0 rgb(60 64 67 / 30%), 0 -1px 3px 1px rgb(60 64 67 / 15%);
              box-shadow: 0 -1px 2px 0 rgb(60 64 67 / 30%), 0 -1px 3px 1px rgb(60 64 67 / 15%);
  }
  .bottom-input-inner {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  }
  .bottom-input-inner .bottom-input-svg svg {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: 0 3px;
      cursor: pointer;
  }
  .bottom-input-inner input[type='text'] {
      height: 20px;
      border: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: calc(100% - 120px);
      background-color: transparent;
      color: #ffffffaa;
  }
  .bottom-input-inner input[type='text']:focus {
      outline-width: 0;
  }
  ::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff66;
  }
  ::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff66;
  }
  :-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff66;
  }
  ::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff66;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff66;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff66;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff66;
  }
  /* navigation bar */
  .navigation-bar-outer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: #ffffff23;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }
  .navigation-bar {
      width: 100px;
      height: 3px;
      background-color: #131313eb;
      border-radius: 1px;
      cursor: pointer;
  }
  
  /* privacy settings */
  .settings-outer {
      width: 100%;
      height: 100%;
      position: relative;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #e9f3fc;
      padding-top: 10px;
      padding-bottom: 10px;
      overflow: auto;
  }
  .per-setting-outer {
      margin: 10px 0;
      text-decoration: none;
      display: block;
      background-color: white;
      -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
              box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }
  .per-setting-outer:first-child {
      margin-top: 0;
  }
  .per-setting-outer .setting-title, .per-setting-outer .setting-config-per {
      padding-left: 10px;
      padding-right: 10px;
  }
  .second-menu-all {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding-right: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
  }
  .second-menu-outside-all {
      width: 100%;
      height: 100%;
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      color: #5085d4;
  }
  .per-setting-outer .setting-title {
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: default;
      color: #558de1;
      font-size: 18px;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .per-setting-outer .setting-config .setting-config-per {
      text-decoration: none;
      position: relative;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-top: 8px;
      padding-bottom: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 16px;
      cursor: pointer;
  }
  .per-setting-outer .setting-config .setting-config-per::before {
      content: '';
      position: absolute;
      top: -1px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: calc(100% - 20px);
      height: 2px;
      background-color: #dcdcdc94;
  }
  .per-setting-outer .setting-config .setting-config-per:first-child::before {
      width: 0;
      height: 0;
      background-color: transparent;
  }
  
  
  
  /* switch toggle */
  .switch-toggle-outer {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }
  .switch-toggle-outer input[type='checkbox'] {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
  }
  .switch-toggle-outer label {
      width: 30px;
      height: 10px;
      --roundw: 12px;
      --borderw: 2px;
      --ucolor: #c9d1df;
      --ccoloor: #6495ed;
      background-color: var(--ucolor);
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
  }
  .switch-toggle-outer label::before {
      content: '';
      border-radius: 50%;
      width: var(--roundw);
      height: var(--roundw);
      border-style: solid;
      border-width: var(--borderw);
      border-color: var(--ucolor);
      background-color: white;
      position: absolute;
      top: calc(50% - var(--roundw) / 2 - var(--borderw));
      left: -1px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
  }
  .switch-toggle-outer input[type='checkbox']:checked + label {
      background-color: var(--ccoloor);
  }
  .switch-toggle-outer input[type='checkbox']:checked + label::before {
      left: calc(100% - var(--roundw) - 2 * var(--borderw) + 1px);
      border-color: var(--ccoloor);
  }
  
  /* second-menu */
  .second-menu-outer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 10;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      opacity: 0;
  }
  .second-menu-border {
      width: 95%;
      min-width: 300px;
      margin: auto;
      border-radius: 2px;
      overflow: hidden;
      background-color: #e9f3fc;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
              box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }
  .second-menu-top {
      color: white;
      background-color: #5a88cd;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 5px;
      font-size: 18px;
      -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
              box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }
  .second-menu-body {
      cursor: default;
  }
  .second-menu-per {
      text-decoration: none;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #ffffff;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
              box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }
  .second-menu-per-title {
      color: #5085d4;
      font-size: 17px;
      padding: 3px 5px;
  }
  .second-menu-per-body {
      cursor: default;
  }
  .second-menu-per-body li {
      font-size: 16px;
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 5px;
  }
  .second-menu-per-body li .r-label {
      cursor: pointer;
      width: -webkit-fill-available;
  }
  .second-menu-per-body li input[type='radio'] {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      right: 0;
      top: 50%;
  }
  .span-for-radio {
      display: inline-block;
      cursor: pointer;
      --sprw: 18px;
      --sprwx: 10px;
      --checkedrc: #5085d4;
      width: var(--sprw);
      height: var(--sprw);
      border-radius: 50%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: white;
      border: solid 2px;
      border-color: #b6b6b6;;
      position: relative;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
  }
  .span-for-radio::before {
      content: '';
      position: absolute;
      left: calc(50% - var(--sprwx) / 2);
      top: calc(50% - var(--sprwx) / 2);
      width: var(--sprwx);
      height: var(--sprwx);
      border-radius: 50%;
      background-color: transparent;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
  }
  .second-menu-per-body li input[type='radio']:checked + .span-for-radio {
      border-color: var(--checkedrc);
  }
  .second-menu-per-body li input[type='radio']:checked + .span-for-radio::before {
      background-color: var(--checkedrc);
  }
  
  /* drop menu */
  .drop-menu-all .drop-menu-selected::after {
      content: '';
      margin: 4px 3px 0 3px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-left: solid 8px transparent;
      border-right: solid 8px transparent;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
  }
  .drop-menu-all .drop-menu-selected[name='down']::after {
      border-top: solid 12px #5085d4b0;
  }
  .drop-menu-all .drop-menu-selected[name='up']::after {
      border-bottom: solid 12px #5085d4b0;
  }
  .drop-menu-outer {
      background-color: white;
      z-index: 10;
      position: absolute;
      right: 10px;
      min-width: 100px;
      text-align: right;
      -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
              box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      opacity: 0;
  }
  .drop-menu-li {
      display: block;
      text-decoration: none;
      padding: 5px 10px;
      cursor: pointer;
  }
  .drop-menu-li:hover {
      color: white;
      background-color: #5085d4;
  }